@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");
nav {
    display: flex;
    background-color: rgb(248, 108, 108);
    justify-content: space-between;
    border-radius: 25px;
    height: 5rem;
    border-style: groove;
}

nav>ul {
    grid-column: 1;
    grid-row: 2;
}
/*------------------DARKMODE---------------------*/
.dark-mode {
    background-color: black;
    color: #FFF;
    
}
/*------------------DARKMODE---------------------*/            
#div_horloge {
    font-size: 2rem;
}

img {
    margin-left: 2rem;
    margin-bottom: 0.5rem;
}

/* center img */

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

ol>li {
    font-family: monospace;
    font-size: 1.5rem;
}

@media only screen and (max-width: 455px) {
    img {
        width: 20%;
        margin-left: 15px;
    }
}

nav>ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav>ul>li {
    padding: 0.5rem;
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    border-style: double;
    border-color: rgb(0, 0, 0);
    margin-right: rem;
    list-style-type: none;
}

nav>ul>li>a {
    list-style: none;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 1.0rem;
}

nav>ul>li:hover {
    /*Rotation sur les li de la nav a 180 degres*/
    -webkit-transform: rotate(25deg);
    -moz-transform: rotate(25deg);
    -ms-transform: rotate(25deg);
    -o-transform: rotate(25deg);
    transform: rotate(25deg);
}

ul {
    display: flex;
    justify-content: center;
}

ul>li {
    padding: 0.5rem;
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    border-style: double;
    border-color: rgb(0, 0, 0);
    margin-right: 1.5rem;
    list-style-type: none;
    color: black;
}

ul>li>a {
    list-style: none;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
}


ul>li:hover {
    /*Rotation sur les li de la nav a 180 degres*/
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    transform: rotate(-5deg);
}

h1 {
    font-family: monospace;
    font-weight: bold;
    text-align: center;
    margin-top: 3rem;
    font-size: 2rem;
}

p {
    font-size: larger;
    text-align: center;
    font-size: 1.5rem;
    font-family: monospace;
}

section {
    padding: 1.5rem;
}

section.products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
}

section.products>article {
    border-radius: 25px;
    padding: .5rem;
    border: 1px solid rgb(131, 70, 70);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(255, 255, 255);
    filter: drop-shadow(2px 2rem 5px rgba(248, 108, 108, 0.4));
}

article:hover {
    /* Cela cree une rotation sur toutes les Grids + Opacité sur les articles Grid au passage de la souris*/
    opacity: 50%;
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    transform: rotate(-3deg);
}

section.products>article:first-child {
    grid-column: 1;
    /*First-Child JavaScript de la grid 1 sur 1 / 3*/
    grid-row: 1/3;
    height: 17.7rem;
    /* Taille de la grid qui de part sa taille prend 2/3 dans la colonne */
    background-image: url(https://i.ibb.co/nnkKmGP/imgbin-javascript-logo-html-com1ment-blog-png.png);
}

section.products>article:nth-child(0n+2) {
    grid-column: 1;
    grid-row: 3/3;
    background-image: url(https://i.ibb.co/M6WzgFD/git-original-wordmark-logo-icon-146510.png);
    height: 8rem;
}

section.products>article:nth-child(0n+3) {
    grid-column: 2;
    /*nth-child git de la grid 2 sur 3 / 3*/
    grid-row: 1/3;
    background-image: url(https://practice2placement.com/wp-content/uploads/2021/06/aaa.png);
    height: 8rem;
    /* Rendre la Grid ronde 
        border-radius: 50%;
        justify-self: center;
        height: 130px;
        width: 130px;*/
}

section.products>article:nth-child(0n+4) {
    grid-column: 2;
    grid-row: 2/3;
    text-align: initial;
    background-image: url(https://i.ibb.co/Ns71HFC/Screenshot-17.png);
    height: 8rem;
}

section.products>article:nth-child(0n+5) {
    grid-column: 2;
    grid-row: 3/3;
    background-image: url(https://dyma.fr/assets/technos/htmlcss-logo-title.svg);
    height: 8rem;
}

section.products>article:nth-child(0n+6) {
    grid-column: 3;
    grid-row: 1/3;
    background-image: url(https://www.wildcodeschool.com/static/imgs/logo.png);
    height: 17.7rem;
}

section.products>article:nth-child(0n+7) {
    grid-column: 3;
    grid-row: 3/3;
    background-image: url(https://i.ibb.co/cDYChkD/node-js-736399-1280.png);
    height: 8rem;
}

/* partie html/Css */

section.grid-html {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: .5rem;
}

section.grid-html>article {
    border-radius: 25px;
    padding: .5rem;
    border: 1px solid rgb(131, 70, 70);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(255, 255, 255);
    filter: drop-shadow(2px 2rem 5px rgba(184, 181, 181, 0.4));
    margin-bottom: 3rem;
    text-align: center;
}

section.grid-html>article:first-child {
    grid-column: 1;
    /*First-Child html de la grid 1 sur 1 / 3*/
    grid-row: 1;
    height: 4rem;
    /* Taille de la grid qui de part sa taille prend 2/3 dans la colonne */
}

#titre_gauche {
    text-align: center;
    margin-top: 1rem;
    font-size: 1.5rem;
    font-family: monospace;
    color: black;
}

.container {
    
    
}

.img-000 {
    border-radius: 10rem;
    border-style: double;
    margin-top: 2rem;
    margin-bottom: 4rem;
    margin: auto;
}

.youtube {
    justify-content: center;
}

section.grid-js>article:nth-child(0n+0) {
    grid-column: 1;
    /*First-Child JavaScript de la grid 1 sur 1 / 3*/
    grid-row: 2;
    height: 4rem;
}

/*----------------Contact -----------------------*/

input[type=text], textarea, input[type=email] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    margin-right: 0px;
    margin-left: 0px;
    resize: vertical;
}

label {
    margin-right: 0px;
    margin-left: 0px;
    width: 100%;
}

input[type=submit] {
    background-color: rgb(248, 108, 108);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: rgb(119, 119, 119);
}

.form {
    /* Ajouter box-sizing */
    box-sizing: border-box;
    margin-top: 5rem;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    /* redéfinition 400 + 2*20 */
    max-width: 440px;
    color: black;
}

.centerForm {
    display: flex;
    justify-content: center;
}
/*-------------- QUISOMMESNOUS -----------------*/
.slider {
    width: 520px;
    height: 300px;
    overflow: hidden;
    margin: 100px auto;
}
.slides {
    width: calc(520px * 3);
    animation: glisse 20s infinite;
}
.slide {
    float: left;
}

@keyframes glisse {
    0% {
        transform: translateX(0);
    }
    10% {
        transform: translateX(-0px);
    }
    33% {
        transform: translateX(-520px);
    }
    43% {
        transform: translateX(-520px);
    }
    66% {
        transform: translateX(-1040px);
    }
    99% {
        transform: translateX(-1040px);
    }
    100% {
        transform: translateX(0);
    }
}

/*-------------- footer ------------------------*/

.col-md-12 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 25px;
    border-style: double;
    background-color: rgb(248, 108, 108);
    height: 5rem;
}

.lien-social {
    font-size: 1.2rem;
    color: white;
}

.btn-social, .btn-social {
    border-radius: 50%;
    border: 0.2rem ridge black;
    color: #ffffff !important;
    display: inline-block;
    height: 54px;
    line-height: 50px;
    margin: 8px 4px;
    text-align: center;
    text-decoration: none;
    transition: background-color .3s;
    webkit-transition: background-color .3s;
    width: 54px;
}

.btn-social:hover, .btn-social:focus {
    color: #fff;
    outline: none;
    text-decoration: none;
}

.btn-social:hover .fa, .btn-social:focus .fa, .btn-social:hover i, .btn-social:focus i {
    ms-transform: scale(2.1);
    o-transform: scale(2.1);
    transform: scale(2.1);
    webkit-transform: scale(2.1);
}

.btn-facebook {
    background-color: #3b5998;
}

.btn-facebook:hover {
    background-color: #4c70ba;
}

.btn-paypal {
    background-color: #253b80;
}

.btn-paypal:hover {
    background-color: #304da8;
}

.btn-twitter {
    background-color: #55acee;
}

.btn-twitter:hover {
    background-color: #83c3f3;
}

pre {
    background-color: rgb(29, 29, 29);
    color: white;
    width: 32rem;
    height: 10rem;
    font-size: 1rem;
    margin: auto;
    margin-top: 4rem;
    margin-bottom: 4rem;
}
