.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    gap: 18px 2em;
    grid-auto-flow: row;
    grid-template-areas:
      "JavaScript . Css"
      "Git Unix .";

      background-color: aqua;
  }
  
  .JavaScript { grid-area: JavaScript; }
  
  .Git { grid-area: Git; }
  
  .Unix { grid-area: Unix; }
  
  .Css { grid-area: Css; }
  